<ion-header>
  <ion-toolbar>
    <ion-title>Edit post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list lines="" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
      <form [formGroup]="updateCarForm" (ngSubmit)="onFormSubmit()">
        <ion-item>
          <ion-label position="floating">Brand</ion-label>
          <ion-input formControlName="brand" type="text" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Model</ion-label>
          <ion-input formControlName="model" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Kms</ion-label>
          <ion-input formControlName="kms" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Year</ion-label>
          <ion-input formControlName="year" type="text" required></ion-input>
        </ion-item>
  
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" shape="full" expand="block">Post</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </div>
</ion-content>
